.thumb-reference {
    width: 100%;
    clear: both;
}

.thumb-reference img {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 5px;
    float: left;
}

.thumb-reference input {
    width: 60%;
    float: left;
}

.thumb-reference div {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.thumb-container {
    float: left;
    background: rgba(175, 175, 175, 0.6);
    box-shadow: inset 0 0 20px #000000;
    border-radius: 10px;
    margin-right: 5px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
}

#thumb-list {
    width: 72%;
}

#thumb-details {
    width: 25%;
}

#reload_thumbs {
    width: 32px;
    height: 32px;
    top: -4px;
    margin-left: 10px;
    margin-bottom: 10px;
}
