.container-wrapper {
    clear: both;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px #000000 inset;
}

.white-background-rows {
    tr.even, tr.odd {
        background-color: #fff;
    }
}