<header>
    <div class="row">
        <div class="col-sm-3">
            <div class="logo">
                <a ui-sref="home">
                    <img ng-if="isAuthenticated()" src="/static/img/logos/online.png" />
                    <img ng-if="!isAuthenticated()" src="/static/img/logos/asleep.png" />Draal Media
	            </a>
            </div>
        </div>
        <div class="col-sm-7">
            <app-main-menu></app-main-menu>
        </div>
        <div ng-if="!canShowAuth()" class="col-sm-2">
            <div ng-if="isAuthenticated()" class="header-actions auth-buttons">
                <div class="actions-text" uib-tooltip="View profile and more" tooltip-placement="bottom">Actions</div>
                <menu-dropdown auto-close="always"
                    menu-open="right" no-title dropdown-element="transparent"
                    menu-items="headerItems"></menu-dropdown>
            </div>
        </div>
        <div ng-if="canShowAuth()" class="col-sm-9">
            <div class="header-actions auth-buttons">
                <button ui-sref="auth.login" type="button" class="btn btn-primary">Sign in</button>
                <button  ui-sref="auth.register" type="button" class="btn btn-success">Sign up</button>
            </div>
        </div>
    </div>
</header>
