<div ng-if="isAuthenticated() && breadcrumbs.length" class="breadcrumb">
  <div ng-repeat="breadcrumb in breadcrumbs.slice().reverse()">
    <div class="btn btn-link">
      <a ng-if="!$last" class2="btn btn-link" ui-sref="{{ breadcrumb.link }}">{{ breadcrumb.name }}</a>
      <div class="breadcrumb-last" ng-if="$last">{{ breadcrumb.name }}</div>
    </div>
    <span ng-show="!$last" class="breadcrumb-separator">&raquo;</span>
  </div>
  <menu-dropdown ng-if="appModels && appModels.length > 0" tooltip-text="Select application page" class="app-page-breadcrumb"
                 dropdown-element="transparent" dyn-title="{{ subAppsMenuTitle }}" auto-close="always"
                 menu-open="right" title="Select view" menu-items="appModels"></menu-dropdown>
  <br/>
</div>
