<div id="form1">
  <app-form view-only="false" no-status no-edit submit-title="" no-cancel submit-label="Log in"
      form-title="Log in" name="loginForm" model="user" submit-fn="login(data)">
    <app-input ref="username"></app-input>
    <app-input ref="password"></app-input>

    <p><a class="password-reset" ui_sref="auth.passwordreset">Forgot password?</a></p>
  </app-form>

  <div class="login-site-links">
    <a href="{{ extSites.google }}">
      <img title="Sign-in with your Google account" src="/static/img/icons/google.png" />
    </a>
    <a href="{{ extSites.twitter }}">
      <img title="Sign-in with your Twitter account" src="/static/img/icons/twitter.png" />
    </a>
    <a href="{{ extSites.facebook }}">
      <img class="facebook-image" title="Sign-in with your Facebook account"
         src="/static/img/icons/FB-f-Logo__blue_50.png" />
    </a>
    <a href="{{ extSites.onedrive }}">
      <img class="onedrive-image" width="60" height="60" title="Sign-in with your OneDrive account"
         src="/static/img/icons/onedrive.png" />
    </a>
  </div>

  <p>
    If you don't have an account, you can <a ui_sref="auth.register">sign up</a> for one.
  </p>
</div>
