<div id="form1">
  <app-form view-only="false" no-status no-edit submit-title="" no-cancel submit-label="Change my password"
      form-title="Password change" name="passwordChangeForm" model="user" submit-fn="changePw(data)">
    <app-input ref="password3"></app-input>
    <app-input label="New password" ref="password"></app-input>
    <app-input ref="password2"></app-input>
  </app-form>

  <p>
    Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
  </p>
</div>
