<div id="form1">
  <app-form view-only="false" no-status no-edit submit-title="" no-cancel submit-label="Create an account"
      form-title="Join Draal Media" name="registerForm" model="user" submit-fn="register(data)">
    <app-input ref="username"></app-input>
    <app-input ref="email"></app-input>
    <app-input ref="password"></app-input>
  </app-form>

  <p>
    Fill out the form (all fields are required), and your account will be created; you'll be sent an email with instructions on how to finish your registration.
    We'll only use your email to send you signup instructions. We hate spam as much as you do.
  </p>
</div>
