<div ng-controller="TestFormController">

  <button class="btn" ng-click="openTemplateDialog()">Launch dialog with template</button>

  <app-dialog launch-title="Launch dialog with form">
    <app-form submit-label="Send" clear-label="Reset" name="appFormObject" model="objectData"
              submit-fn="testSubmit(data)" in-dialog>
      <!--app-input read-ref="objectData.$types.name" ref="objectData.name" object></app-input-->
      <app-input ref="objectData"></app-input>
    </app-form>
  </app-dialog>

  <div style="margin-top: 10px; margin-bottom: 20px;">
    <app-form submit-label="Send" clear-label="Reset" name="partialForm" model="partialData"
              submit-fn="testSubmit(data)">
      <app-input ref="name"></app-input>
    </app-form>
  </div>

  <pre>{{ partialData.name | json}}</pre>

</div>
